version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.0.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT: false
    ports:
      - "8080:8080"
    command: start-dev
    networks:
      - keycloak-network

networks:
  keycloak-network:
    driver: bridge
    